<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'Hello, ' + ${user.email} + '!'" />

<form action="/signin/google" method="post">
    <input name="scope" type="hidden" value="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"/>
    <input type="submit" value="Sign In (Google)">
</form>

<form action="/signin/desktop/google" method="post">
    <input name="scope" type="hidden" value="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"/>
    <input name="port" type="hidden" value="1234"/>
    <input type="submit" value="Sign In Desktop (Google)">
</form>

</body>
</html>